<header class="navbar">
  <div class="container-fluid">
    <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
      <li class="nav-item">
        <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
      </li>
    </ul>
    <ul class="nav navbar-nav float-xs-right hidden-md-down">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/patient-id']"><i class="fa fa-user-plus"></i> Patient:
          {{cdSharedObject.patient.display}} </a>
      </li>

      <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
        <a class="nav-link dropdown-toggle" (click)="false" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false" dropdownToggle>
          <i class="fa fa-user"></i>User: {{cdSharedObject.clinician.UPID}}
          <span class="hidden-md-down"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-xs-center">
            <strong>Account Admin</strong>
          </div>
          <a class="dropdown-item" href="#" [routerLink]="['/account-edit']"><i class="fa fa-bell-o"></i> User
            account</a>
          <a class="dropdown-item" href="#" [routerLink]="['/med-comm']"><i class="fa fa-comments"></i> Comments<span
            class="tag tag-info">2</span></a>
          <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Notifications<span class="tag tag-warning">2</span></a>
          <div class="divider"></div>
          <a class="dropdown-item" href="#" [routerLink]="['/logout']"><i class="fa fa-lock"></i> Logout</a>
        </div>


      <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
        <a class="nav-link dropdown-toggle" (click)="false" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false" dropdownToggle>
          <i class="fa fa-cog" aria-hidden="true"></i> Configuration
          <span class="hidden-md-down"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-xs-center">
            <strong>System Admin</strong>
          </div>
          <a class="dropdown-item" href="#" [routerLink]="['/codings']"><i class="fa fa-database"></i> Codings</a>
          <a class="dropdown-item" href="#" [routerLink]="['/service-catalog']"><i class="fa fa-dashcube"></i> Services</a>
          <a class="dropdown-item" href="#" [routerLink]="['/careplan-templates']"><i class="fa fa-apple"></i> Templates</a>
        </div>
      </li>
    </ul>
  </div>
</header>

<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/patient-id']"><i class="fa fa-search" aria-hidden="true"></i>Select Patient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/data-resource-browser']"><i class="icon-folder"></i>Data Resource
          Browser</a>
      </li>

      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-speedometer"></i>
          Clinician Manager</a>
        <ul class="nav-dropdown-items">

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/clinician-manager/all/all/']"><i
              class="icon-puzzle"></i> All info</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/clinician-manager/overview/all/']"><i
              class="icon-puzzle"></i> Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/clinician-manager/comments/all/']"><i
              class="icon-puzzle"></i> Comments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/clinician-manager/followups/all/']"><i
              class="icon-puzzle"></i> Follow Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/clinician-manager/treatments/all/']"><i
              class="icon-puzzle"></i> Treatments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/clinician-manager/medications/all/']"><i
              class="icon-puzzle"></i> Medications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/clinician-manager/observations/all/']"><i
              class="icon-puzzle"></i> Comparison</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"
               [routerLink]="['/clinician-manager/observations-single/all/']"><i
              class="icon-puzzle"></i> Measurements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/clinician-manager/morisky/all/']"><i
              class="icon-puzzle"></i> Morisky</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/clinician-manager/diseases/all/']"><i
              class="icon-puzzle"></i> Diseases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/clinician-manager/clinicians/all/']"><i
              class="icon-puzzle"></i> Clinicians</a>
          </li>


        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/narratives-manager']"><i class="icon-briefcase"></i>Care plan manager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/med-comm']"><i class="fa fa-commenting" aria-hidden="true"></i>Communication</a>
      </li>


    </ul>
  </nav>
</div>

<!-- Main content -->
<main class="main">
  <!-- Breadcrumb -->
  <ol class="breadcrumb">
    <breadcrumbs></breadcrumbs>
  </ol>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>
