<div class="animated fadeIn">
    <h3 class="w3-tag">Clinician Manager - Patient Data Overview</h3>
    <div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <patient-overview>
                </patient-overview>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">

                <patient-diseases>
                </patient-diseases>


            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">

                <patient-imaging>

                </patient-imaging>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-8">

                <patient-clinicians-history>
                </patient-clinicians-history>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <patient-checks>
                </patient-checks>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <medication-history>
                </medication-history>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <patient-daily-average-observations>
                </patient-daily-average-observations>

            </div>


            <patient-morisky-results>
            </patient-morisky-results>


        </div>

    </div>
</div>
