<div class="animated fadeIn">
    <div >

        <h3 class="w3-tag">Clinician Manager - Patient Data Overview</h3>

        <patient-overview>
        </patient-overview>

        <patient-clinicians-history>
        </patient-clinicians-history>

        <patient-diseases>
        </patient-diseases>

        <patient-imaging>

        </patient-imaging>

        <patient-checks>
        </patient-checks>

        <patient-daily-average-observations>
        </patient-daily-average-observations>

        <medication-history>
        </medication-history>

        <patient-morisky-results>
        </patient-morisky-results>




    </div>
</div>
