<h4>Service Catalog</h4>

<tabset *ngIf="services">
  <tab heading='Table View'>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Display</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let service of services">
          <td>{{service.id}}</td>
          <td>{{service.display}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </tab>
  <tab heading='JSON View'>
    <pre>{{servicesJson}}</pre>
  </tab>

</tabset>
