<div class="card">
  <div class="card-block">
    <h4 class="card-title">Selected patient info</h4>
    <div class="card-text">
      <div *ngIf="data">
        <dl>
          <dt>Patient Display</dt>
          <dd>{{ data.patient.display }}</dd>
          <dt>Patient id</dt>
          <dd>{{ data.patient.UPID }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Select patient</h4>
    <div class="card-text">
      <label for="select-patient">Search for patient:</label>
      <input id="select-patient" [(ngModel)]="data.patient.display"
             [typeahead]="patients"
             (typeaheadOnSelect)="patientSelected($event)"
             typeaheadOptionField="display"
             class="form-control">
    </div>
  </div>
</div>
