<div class="card">

  <div class="card-header measurement-header  ">


    <div class="" i18n="Patient Medication History"><i class="fa fa-medkit"> </i>
      Patient's Medication History

      <span class="w3-right">

      <span *ngIf="(progress1.percentage < 100)">

        <span class="fa fa-spinner w3-spin" style="font-size:20px"></span>
loading prescriptions
        : {{progress1.percentage}}% |
      loaded: {{progress1.total}} bytes

      </span>

        <span *ngIf="(progress2.percentage < 100)">

        <span class="fa fa-spinner w3-spin" style="font-size:20px"></span>
          loading intakes

        : {{progress2.percentage}}% |
      loaded: {{progress2.total}} bytes

      </span>
      </span>

    </div>
  </div>

  <div class="card-block">

    <div class="">
      <button type="button"
              class="button-clear"
              (click)="toggleColor()">

    <span *ngIf="isColourful">
              <span style="color:red"> <i class="fa fa-circle"></i></span>
              <span style="color:red"> <i class="fa fa-circle"></i></span>
              <span style="color:green"> <i class="fa fa-circle"></i></span>
              <span style="color:green"> <i class="fa fa-circle"></i></span>
            </span>
        <span *ngIf="!isColourful">
              <span style="color: grey;"> <i class="fa fa-circle"></i></span>
              <span style="color: grey;"> <i class="fa fa-circle"></i></span>
              <span style="color: grey;"> <i class="fa fa-circle"></i></span>
              <span style="color: grey;"> <i class="fa fa-circle"></i></span>
            </span>
        Colours

      </button>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-{{selectedMedication?'6':12}}
    col-lg-{{selectedMedication?'6':12}} col-xl-{{selectedMedication?'8':12}}">
      <div [visTimeline]="visTimelineMedications"
           [visTimelineItems]="visTimelineItemsMedications"
           [visTimelineGroups]="visTimelineGroups"
           [visTimelineOptions]="visTimelineMedicationsOptions"
           (initialized)="timelineInitialized()">
      </div>
    </div>

    <div *ngIf="selectedMedication"
         class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 detail-view">
      <div class="w3-border-bottom">
        Selected Medication details
        <button class="w3-right button-clear" (click)="close()"><i class="fa fa-close"></i></button>
      </div>
      <div class="{{animateToggle?'my-animate-left':'my-animate-left2'}} ">


        <div>{{selectedMedication.name}}</div>
          <div *ngIf="selectedMedication.disease">Disease: {{selectedMedication.disease}}</div>
          <div *ngIf="selectedMedication.prescribedBy">Prescribed by: {{selectedMedication.prescribedBy}}</div>
          <div *ngIf="selectedMedication.dosage">Dosage: {{selectedMedication.dosage}}</div>
          <div *ngIf="selectedMedication.frequency">Frequency: {{selectedMedication.frequency}}</div>
          <div *ngIf="selectedMedication.stopReason">Stop Reason: {{selectedMedication.stopReason}}</div>
          <div *ngIf="selectedMedication.startDate && selectedMedication.type==='prescription'">From:
            {{selectedMedication.startDate| date:'d.M.y'}}
          </div>
          <div *ngIf="selectedMedication.startDate && selectedMedication.type==='intake'">Time:
            {{selectedMedication.startDate| date:'d.M.y'}}
          </div>
          <div *ngIf="selectedMedication.endDate">To: {{selectedMedication.endDate| date:'d.M.y'}}</div>


      </div>

    </div>

  </div>

  <div class="card-footer w3-white">
    <div class="w3-tiny w3-right">Click chosen medication to view it's details. For desktop users: Scroll time line with
      mousewheel. Move the mouse pointer to the left part of the timeline to scroll the whole page. Zoom timeline using
      Alt key +
      mousewheel.
    </div>
  </div>

</div>
