.card {
    border-radius: 10px;
}

.card-footer {
    border-radius: 10px;
}

.card-header {
    border-radius: 10px;
}

.card-footer {
  padding: 0.25rem;
}

.card-block {
  padding: 0.25rem;
}

.card-header {
  padding: 0.25rem;
}

.card {
  margin-bottom: 0.35rem;
}

.nv-series-2 {
  stroke-dasharray: 5, 5;
}

.nv-group {
  stroke-dasharray: 5, 5;
}

.nv-groups {
  stroke-dasharray: 5, 5;
}

.mydashed {
  stroke-dasharray: 5, 5;
}
