<div class="card ">

  <div class="card-header measurement-header">

    <div class="w3-center" i18n="Patient's Treatment History">
      <i class="fa fa-hospital-o"></i>
      Patient's Treatment History
      <span class="w3-right">

      <span *ngIf="(progress.percentage < 100)">

        <span class="fa fa-spinner w3-spin" style="font-size:20px"></span>

        loading: {{progress.percentage}}% |
      loaded: {{progress.total}} bytes
      </span>
    </span>

    </div>

  </div>

  <div class="card-block">

    <div class="col-xs-12 col-sm-12 col-md-{{selectedTreatment?'6':12}}
    col-lg-{{selectedTreatment?'6':12}} col-xl-{{selectedTreatment?'8':12}}">
      <div [visTimeline]="visTimelineTreatments"
           [visTimelineItems]="visTimelineItemsTreatments"
           [visTimelineOptions]="visTimelineTreatmentsOptions"
           (initialized)="timelineInitialized()">
      </div>
    </div>

    <div *ngIf="selectedTreatment"
         class=" col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 detail-view">

      <div class="w3-border-bottom">
        <div>Selected Treatment Details
          <button class="w3-right" (click)="close()"><i class="fa fa-close"></i></button>
        </div>
      </div>
      <div class="{{animateToggle?'myanimation1':'myanimation2'}} ">
        <samp>
          <div *ngIf="selectedTreatment.startDate">{{selectedTreatment.endDate?'From:':'Date:'}}
            {{selectedTreatment.startDate| date:'d.M.y'}}
          </div>
          <div *ngIf="selectedTreatment.endDate">To: {{selectedTreatment.endDate| date:'d.M.y'}}</div>

          <div>Category: {{selectedTreatment.category}}</div>
          <div>Treatment: {{selectedTreatment.visitReason}}</div>
          <div>Results:</div>
        <div *ngFor="let result of selectedTreatment.visitResults">{{result.type}} - {{result.result}}</div>
        </samp>
      </div>


    </div>

  </div>

  <div class="card-footer w3-white">
    <div class="w3-tiny w3-right">Scroll the timeline draging it with mouse. Zoom using Alt key + mouse scroll. Click
      chosen treatment to view it's details.
    </div>

  </div>
</div>
