<div class="card ">

  <div class="card-header measurement-header">

    <div class="" i18n="Patient's Treatment History">
      <i class="fa fa-hospital-o"></i>
      Patient's Treatment History
      <span class="w3-right">

      <span *ngIf="(progress1.percentage < 100)">

        <span class="fa fa-spinner w3-spin" style="font-size:20px"></span>

        loading visits: {{progress1.percentage}}% |
      loaded: {{progress1.total}} bytes
      </span>

        <span *ngIf="(progress2.percentage < 100)">

        <span class="fa fa-spinner w3-spin" style="font-size:20px"></span>

        loading imaging: {{progress2.percentage}}% |
      loaded: {{progress2.total}} bytes
      </span>

        <span *ngIf="(progress3.percentage < 100)">

        <span class="fa fa-spinner w3-spin" style="font-size:20px"></span>

        loading lab tests: {{progress3.percentage}}% |
      loaded: {{progress3.total}} bytes
      </span>

        <span *ngIf="(progress4.percentage < 100)">

        <span class="fa fa-spinner w3-spin" style="font-size:20px"></span>

        loading psych. tests: {{progress4.percentage}}% |
      loaded: {{progress4.total}} bytes
      </span>

        <span *ngIf="(progress5.percentage < 100)">

        <span class="fa fa-spinner w3-spin" style="font-size:20px"></span>

        loading func diag.: {{progress5.percentage}}% |
      loaded: {{progress5.total}} bytes
      </span>

        <span *ngIf="(progress6.percentage < 100)">

        <span class="fa fa-spinner w3-spin" style="font-size:20px"></span>

        loading patient reportings: {{progress6.percentage}}% |
      loaded: {{progress6.total}} bytes
      </span>

        <span *ngIf="(progress7.percentage < 100)">

        <span class="fa fa-spinner w3-spin" style="font-size:20px"></span>

        loading questionnaires: {{progress7.percentage}}% |
      loaded: {{progress7.total}} bytes
      </span>
    </span>

    </div>

  </div>

  <div class="card-block">
    <div class="">
      <button type="button"
              class="button-clear"
              (click)="toggleColor()">

    <span *ngIf="isColourful">
              <span style="color:red"> <i class="fa fa-circle"></i></span>
              <span style="color:red"> <i class="fa fa-circle"></i></span>
              <span style="color:green"> <i class="fa fa-circle"></i></span>
              <span style="color:green"> <i class="fa fa-circle"></i></span>
            </span>
        <span *ngIf="!isColourful">
              <span style="color: grey;"> <i class="fa fa-circle"></i></span>
              <span style="color: grey;"> <i class="fa fa-circle"></i></span>
              <span style="color: grey;"> <i class="fa fa-circle"></i></span>
              <span style="color: grey;"> <i class="fa fa-circle"></i></span>
            </span>
        Colours

      </button>

    </div>


    <div class="col-xs-12 col-sm-12 col-md-{{selectedTreatment?'6':12}}
    col-lg-{{selectedTreatment?'6':12}} col-xl-{{selectedTreatment?'8':12}}">
      <div [visTimeline]="visTimelineTreatments"
           [visTimelineItems]="visTimelineItemsTreatments"
           [visTimelineGroups]="visTimelineGroups"
           [visTimelineOptions]="visTimelineTreatmentsOptions"
           (initialized)="timelineInitialized()">
      </div>
    </div>

    <div *ngIf="selectedTreatment"
         class=" col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 detail-view">

      <div class="w3-border-bottom">
        <div>Selected Treatment Details
          <button class="w3-right button-clear" (click)="close()"><i class="fa fa-close"></i></button>
        </div>
      </div>
      <div class="{{animateToggle?'my-animate-left':'my-animate-left2'}} ">

        <div *ngIf="selectedTreatment.startDate">{{selectedTreatment.endDate?'From:':'Date:'}}
            {{selectedTreatment.startDate| date:'d.M.y'}}
          </div>
          <div *ngIf="selectedTreatment.endDate">To: {{selectedTreatment.endDate| date:'d.M.y'}}</div>

          <div>Category: {{selectedTreatment.category}}</div>
          <div>Treatment: {{selectedTreatment.visitReason}}</div>
          <div>Results:</div>
        <div *ngFor="let result of selectedTreatment.visitResults">{{result.type}} - {{result.result}}</div>

      </div>


    </div>

  </div>

  <div class="card-footer w3-white">
    <div class="w3-tiny w3-right">Click chosen treatment to view it's details. For desktop users: Scroll time line with
      mousewheel. Move the mouse pointer to the left part of the timeline to scroll the whole page. Zoom timeline using
      Alt key +
      mousewheel.
    </div>

  </div>
</div>
