.my-animate-left {
  position: relative;
  -webkit-animation: myanimateleft 0.4s;
  animation: myanimateleft 0.4s
}

@-webkit-keyframes myanimateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}

@keyframes myanimateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}

.my-animate-left2 {
  position: relative;
  -webkit-animation: myanimateleft2 0.4s;
  animation: myanimateleft2 0.4s
}

@-webkit-keyframes myanimateleft2 {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}

@keyframes myanimateleft2 {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}



