<div class="card">
  <div *ngIf="headerText || (progress.percentage < 100)" class="card-header measurement-header  ">

    <div><i class="fa fa-heartbeat"></i>

      <span *ngIf="headerText">{{headerText}}
      </span>

      <span class="w3-right">

      <span *ngIf="(progress.percentage < 100)">

        <span class="fa fa-spinner w3-spin" style="font-size:20px"></span>

        loading:
        {{progress.percentage}}% |
      loaded: {{progress.total}} bytes


      </span>
    </span>

    </div>

  </div>
  <div *ngIf="observationGroups" class="card-block" style="overflow-x: hidden;">

    <div class="row">
      <div class="w3-center">

        <div>

          <!--
          <button *ngIf="observationGroups && observationGroups.length!==1" type="button"
                  class="button-clear"
                  (click)="clearAll()">
            <i class="fa fa-minus-circle"></i>
            Clear all

          </button>
          -->


          <button *ngIf="!singleValued && observationGroups && observationGroups.length!==1" type="button"
                  class="button-clear"
                  (click)="showHighContrast()">

            <span *ngIf="isHighContrast">
              <span style="color:red"> <i class="fa fa-circle"></i></span>
              <span style="color:red"> <i class="fa fa-circle"></i></span>
              <span style="color:green"> <i class="fa fa-circle"></i></span>
              <span style="color:green"> <i class="fa fa-circle"></i></span>
            </span>
            <span *ngIf="!isHighContrast">
              <span style="color: green;"> <i class="fa fa-circle"></i></span>
              <span style="color: yellow;"> <i class="fa fa-circle"></i></span>
              <span style="color: red;"> <i class="fa fa-circle"></i></span>
              <span style="color: orange;"> <i class="fa fa-circle"></i></span>
            </span>
            <span *ngIf="!isHighContrast">Colours</span>
            <span *ngIf="isHighContrast">Colours</span>

          </button>


          <button *ngIf="isThereMid || isThereMax || isThereMin" type="button"
                  class="button-clear"
                  (click)="resetMinMidMax()">
            <span>  <i class="fa {{showMinMidMax?'fa-circle':'fa-circle-o'}}"></i> </span>
            <span *ngIf="!showMinMidMax"></span> <span *ngIf="showMinMidMax"></span> <span *ngIf="isThereMin">Min</span>
            <span *ngIf="isThereMid">Mid</span> <span *ngIf="isThereMax">Max</span>
            <span>
          </span>
          </button>

          <button *ngIf="!singleValued && observationGroups && observationGroups.length!==1" type="button"
                  class="button-clear"
                  (click)="forceYZero=!forceYZero;callServiceToGetObservations()">

            <span>  <i class="fa {{forceYZero?'fa-circle':'fa-circle-o'}}"></i> </span> Zero Axis
          </button>
        </div>


        <div *ngIf="!singleValued && observationGroups && observationGroups.length!==1"
             class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"
             style=" padding-right: 0.05rem; padding-bottom: 0.15rem;">
          <div class="" style=" margin-left: 0.25rem;">

            <!--
            <button *ngIf="observationGroups && observationGroups.length!==1" type="button"
                    class="button-clear"
                    (click)="showAllLeft()">

              <i class="fa fa-plus-circle"></i> Show all on left axis
            </button>
            -->

            <span class="axis-buttons-legend">Left Axis</span>

            <button *ngIf="!singleValued && observationGroups && observationGroups.length!==1" type="button"
                    class="button-clear"
                    (click)="showAllLeft()">

              <i class="fa fa-plus-circle"></i> Show all values
            </button>

            <span *ngFor="let group of observationGroups">

            <button type="button" class="button-clear"
                    (click)="toggleLeft(group.id, group.name)">
              <span [style.color]="isHighContrast?'red':group.color">
                <i class="fa {{group.showLeft?'fa-circle':'fa-circle-o'}}"></i>
              </span>
              {{group.name}} <span *ngIf="group.source"> ({{group.source}})</span>
              L
            </button>

        </span>
          </div>
        </div>


        <div *ngIf="!singleValued && observationGroups && observationGroups.length!==1"
             class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"
             style="padding-left: 0.05rem; padding-bottom: 0.15rem;">
          <div class="" style=" margin-right: 0.25rem;">
            <span class="axis-buttons-legend">Right Axis</span>
            <!--
             <button *ngIf="observationGroups && observationGroups.length!==1"
                     type="button"
                     class="button-clear"
                     (click)="showAllRight()"><i class="fa fa-plus-circle"></i> Show all on right axis
             </button>
             -->
            <span *ngFor="let group of observationGroups">

          <span style="white-space: nowrap">



            <button
              type="button"
              class="button-clear"
              (click)="toggleRight(group.id, group.name)">
              <span [style.color]="isHighContrast?'green':group.color">
                                <i class="fa {{group.showRight?'fa-circle':'fa-circle-o'}}"></i>
                            </span>
             {{group.name}} <span *ngIf="group.source"> ({{group.source}})</span>
              R
            </button>
          </span>
        </span>
          </div>
        </div>


      </div>
    </div>


    <div class="chart-row">

      <nvd3 [options]="options" [data]="data"></nvd3>

    </div>


  </div>


  <div class="card-footer w3-white">
    <div class="w3-tiny w3-right w3-full">Hover the mouse pointer over the diagram for values. {{footerText}}


    </div>
  </div>


</div>
