<div class="card">
    <div class="card-header">
        <div i18n="Patient Visits History"><i class="fa fa-hospital-o"></i> Patient Visits History</div>
        <div class="card-actions">

        </div>
    </div>
    <div class="card-block">
        <div>
            <div [visTimeline]="visTimelineChecks"
                 [visTimelineItems]="visTimelineItemsChecks"
                 [visTimelineOptions]="visTimelineChecksOptions"
                 (initialized)="timelineInitialized()">

            </div>

            <div class="w3-tiny w3-right">Click inside the diagram area to enable mouse interactions (zoom,
                scroll left/right, click for detail). Click chosen event to view it's detail in a pop up window.
            </div>

            <button type="button"
                    class="btn btn-default"
                    (click)="focusVisChecks()" i18n="Zoom to view all checks">
                Zoom to view all checks
            </button>

        </div>
    </div>
</div>

<modal [animation]="animationsEnabled" #myCheckModal>
    <div *ngIf="selectedCheck">
        <modal-header [show-close]="true">
            <h4 class="modal-title">Patient medication details</h4>
        </modal-header>
        <modal-body>

            <div class="w3-container w3-border w3-border-lime w3-round-large">

                <h2>{{selectedCheck.name}}</h2>
                <p>Clinician: {{selectedCheck.clinician}}</p>
                <p>Visit reason: {{selectedCheck.visitReason}}</p>
                <p>Visit results: {{selectedCheck.visitResults}}</p>
                <p>From: {{selectedCheck.startDate}}</p>
                <p>To: {{selectedCheck.endDate}}</p>
            </div>

        </modal-body>
        <modal-footer [show-default-buttons]="false"></modal-footer>

    </div>
</modal>