<div class="card w3-light-gray">


  <div class="card-block">

    <div class="w3-center" i18n="Patient's Treatment History">
      <i class="fa fa-hospital-o"></i>
      Patient's Treatment History
    </div>

    <div *ngIf="(progress.percentage < 100)" class="w3-right">
      <div> loading: {{progress.percentage}}%</div>
      <div> loaded: {{progress.total}} bytes</div>
    </div>

    <div [visTimeline]="visTimelineTreatments"
         [visTimelineItems]="visTimelineItemsTreatments"
         [visTimelineOptions]="visTimelineTreatmentsOptions"
         (initialized)="timelineInitialized()">

            </div>

    </div>


</div>

<modal [animation]="animationsEnabled" #myCheckModal>
  <div *ngIf="selectedTreatment">
        <modal-header [show-close]="true">
          <h4 class="modal-title">Patient's Treatment details</h4>
        </modal-header>
        <modal-body>

            <div class="w3-container w3-border w3-border-lime w3-round-large">


              <p>Category: {{selectedTreatment.category}}</p>
              <p>Visit reason: {{selectedTreatment.visitReason}}</p>
              <p>Visit results: {{selectedTreatment.visitResults}}</p>
              <p>From: {{selectedTreatment.startDate}}</p>
              <p>To: {{selectedTreatment.endDate}}</p>
            </div>

        </modal-body>
        <modal-footer [show-default-buttons]="false"></modal-footer>

    </div>
</modal>
