<div class="card" *ngIf="patientData">
  <div class="card-header w3-light-blue  w3-center">


        <div i18n="PatientData Info"><i class="fa fa-user"></i>
        PatientData Info - {{patientData.name}}</div>


        <div class="w3-right">

            <div *ngIf="(progress.percentage < 100)"> loading: {{progress.percentage}}%</div>
            <div *ngIf="(progress.percentage < 100)"> loaded: {{progress.total}} bytes</div>
        </div>

    </div>
    <div class="card-block">


        <div class="animated fadeIn">

            <div class="row">
              <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">

                    <div class=" text-primary  ">{{patientData.name}}</div>
                    <div class="text-muted text-uppercase w3-border-top font-weight-bold font-xs " i18n="Name">Name
                    </div>
                    <br>

                    <div class=" text-primary ">{{patientData.id}}</div>
                    <div class="text-muted text-uppercase  w3-border-top font-weight-bold font-xs " i18n="Id">ID</div>
                    <br>

                    <div class=" text-primary ">{{patientData.bloodType}}</div>
                    <div class="text-muted text-uppercase  w3-border-top font-weight-bold font-xs " i18n="bloodType">
                        blood type
                    </div>

                    <br>
                    <div class=" text-primary ">{{patientData.dob}}</div>
                    <div class="text-muted text-uppercase  w3-border-top font-weight-bold font-xs " i18n="DOB">Date Of
                        Birth
                    </div>
                    <br>
                    <div class=" text-primary ">{{patientData.height}}</div>
                    <div class="text-muted text-uppercase  w3-border-top font-weight-bold font-xs " i18n="height">
                        height
                    </div>
                    <br>
                    <div class=" text-primary ">{{patientData.gender}}</div>
                    <div class="text-muted text-uppercase  w3-border-top font-weight-bold font-xs " i18n="gender">
                        gender
                    </div>

                </div>
                <br>
              <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">


                    <div class=" text-primary ">{{patientData.insurer}}</div>
                    <div class="text-muted text-uppercase  w3-border-top font-weight-bold font-xs " i18n="insurer">
                        insurer
                    </div>
                    <br>
                    <div class=" text-primary ">{{patientData.insurerId}}</div>
                    <div class="text-muted text-uppercase  w3-border-top font-weight-bold font-xs " i18n="insurer ID">
                        insurer ID
                    </div>
                    <br>

                    <div class=" text-primary ">{{patientData.occupancy}}</div>
                    <div class="text-muted text-uppercase  w3-border-top font-weight-bold font-xs " i18n="occupancy">
                        occupancy
                    </div>
                    <br>

                    <div class=" text-primary ">{{patientData.livesAlone==="true"? "Yes":"No" }}</div>
                    <div class="text-muted text-uppercase  w3-border-top font-weight-bold font-xs " i18n="lives alone">
                        lives alone
                    </div>

                    <br>
                    <div class=" text-primary ">{{patientData.address1}}</div>
                    <div class=" text-primary ">{{patientData.address2}}</div>
                    <div class=" text-primary ">{{patientData.address3}}</div>
                    <div class=" text-primary ">{{patientData.address4}}</div>
                    <div class="text-muted text-uppercase  w3-border-top font-weight-bold font-xs " i18n="Address">
                        Patient Address
                    </div>

                </div>

            </div>


        </div>

    </div>

</div>
