<div class="card">
    <div class="card-header w3-green">

        <div i18n="Average daily observations"><i class="fa fa-heartbeat"></i> Average daily observations</div>
        <div class="card-actions">

        </div>
    </div>
    <div class="card-block">
        <div class="row">

            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th i18n="Value">Observation</th>
                    <th i18n="Value">Unit</th>
                    <th i18n="Toggle">Left</th>
                    <th i18n="Toggle">Right</th>


                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let group of observationGroups">

                    <td>{{group.name}}</td>
                    <td>{{group.label}}</td>
                    <td>

                        <input type="checkbox" [checked]="group.showLeft"
                               (change)="toggleLeft(group.id, group.name)"/>
                    </td>
                    <td>

                        <input type="checkbox" [checked]="group.showRight"
                               (change)="toggleRight(group.id, group.name)"/>

                    </td>


                </tr>

                </tbody>
            </table>
        </div>

        <div class="row">

            <div>
                <nvd3 [options]="options" [data]="data"></nvd3>
            </div>

            <div class="w3-tiny w3-right w3-full">Hover mouse over the diagram for values. Click
                series name in the legend above the diagram to view/hide series. Double click a chosen series legend to
                view only this series.
                If several series are shown on one axis, series are not normalised.
                Compare values of very different ranges on separate y axes.

            </div>
        </div>
    </div>
</div>

