<div class="card">
  <div class="card-header info-header  w3-center">


    <span i18n="PatientData Info"><i class="fa fa-user"></i>
      Patient

      <!--
      -

      <select [ngModel]="selectedPatient" (ngModelChange)="patientClicked($event)">
        <option *ngFor="let patient of patientsList" [value]="patient">{{patient}}</option>
      </select>

      -->

    </span>


    <span class="w3-right">

      <span *ngIf="(progress.percentage < 100)">

        <span class="fa fa-spinner w3-spin" style="font-size:20px"></span>

        loading: {{progress.percentage}}% |
      loaded: {{progress.total}} bytes</span>
    </span>


  </div>
  <div *ngIf="patientData" class="card-block">
    <div class="animated fadeIn">
      <div class="row">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

          <div class=" text-patient-info w3-border-bottom  ">
                      <span class="text-muted text-uppercase  font-weight-bold font-xs " i18n="Name">Name:
                      </span>
            {{patientData.name}}
          </div>


          <div class=" text-patient-info w3-border-bottom ">
            <span class="text-muted text-uppercase  font-weight-bold font-xs " i18n="Id">ID:</span>
            {{patientData.id}}
          </div>


          <div class=" text-patient-info w3-border-bottom ">
                  <span class="text-muted text-uppercase   font-weight-bold font-xs " i18n="bloodType">
                    blood type:
                  </span>
            {{patientData.bloodType}}
          </div>
        </div>
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

          <div class=" text-patient-info w3-border-bottom ">
                  <span class="text-muted text-uppercase   font-weight-bold font-xs " i18n="DOB">Date Of
                    Birth:
                  </span>
            {{patientData.dob | date:'d.M.y'}}
          </div>


          <div class=" text-patient-info w3-border-bottom ">
                  <span class="text-muted text-uppercase   font-weight-bold font-xs " i18n="height">
                    height:
                  </span>
            {{patientData.height}}
          </div>


          <div class=" text-patient-info w3-border-bottom ">
                  <span class="text-muted text-uppercase   font-weight-bold font-xs " i18n="gender">
                    gender:
                  </span>
            {{patientData.gender}}
          </div>


        </div>

        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">


          <div class=" text-patient-info w3-border-bottom ">
                      <span class="text-muted text-uppercase   font-weight-bold font-xs " i18n="insurer">
                        Insurer:
                      </span>
            {{patientData.insurer}}
          </div>


          <div class=" text-patient-info w3-border-bottom ">
                  <span class="text-muted text-uppercase   font-weight-bold font-xs " i18n="insurer ID">
                    Insurer ID:
                  </span>
            {{patientData.insurerId}}
          </div>


          <div class=" text-patient-info w3-border-bottom ">
                  <span class="text-muted text-uppercase   font-weight-bold font-xs " i18n="occupancy">
                    occupancy:
                  </span>
            {{patientData.occupancy}}
          </div>

        </div>
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

          <div class=" text-patient-info w3-border-bottom ">
                  <span class="text-muted text-uppercase   font-weight-bold font-xs " i18n="lives alone">
                    lives alone:
                  </span>
            {{patientData.livesAlone==="true"? "Yes":"No" }}
          </div>

          <div class="w3-border-bottom ">

            <div class=" text-patient-info ">
                  <span class="text-muted text-uppercase   font-weight-bold font-xs " i18n="Address">
                    Patient Address:
                  </span>
              {{patientData.address}}
            </div>


          </div>
        </div>

      </div>


    </div>

  </div>

</div>
