<div class="animated fadeIn">

  <div class=" w3-center">
    <button class="btn btn-default {{cardToShow==='all'   ? 'btn-outline-success' : ''}}"
            [routerLink]="['/clinician-manager', 'all', 'all']" (click)="focusLastYear()"> all
    </button>
    |
    <button class="btn btn-default {{cardToShow==='overview'   ? 'btn-outline-success' : ''}}" (click)="focusLastYear()"
            [routerLink]="['/clinician-manager', 'overview', '']"> overview
    </button>
    |
    <button class="btn btn-default {{cardToShow==='comments'   ? 'btn-outline-success' : ''}}" (click)="focusLastYear()"
            [routerLink]="['/clinician-manager', 'comments', '']">comments
    </button>
    |
    <button class="btn btn-default {{cardToShow==='followups'   ? 'btn-outline-success' : ''}}"
            (click)="focusLastYear()" [routerLink]="['/clinician-manager', 'followups', '']">followups
    </button>
    |
    <button class="btn btn-default {{cardToShow==='treatments'   ? 'btn-outline-success' : ''}}"
            (click)="focusLastYear()" [routerLink]="['/clinician-manager', 'treatments', '']">treatments
    </button>
    |
    <button class="btn btn-default {{cardToShow==='medications'   ? 'btn-outline-success' : ''}}"
            (click)="focusLastYear()" [routerLink]="['/clinician-manager', 'medications', '']">medications
    </button>
    |
    <button
      class="btn btn-default {{cardToShow==='observations' ? 'btn-outline-success' : ''}}"
      (click)="focusLastYear()" [routerLink]="['/clinician-manager', 'observations', 'all']">measurements
    </button>
    |

    <button class="btn btn-default {{cardToShow==='morisky'   ? 'btn-outline-success' : ''}}" (click)="focusLastYear()"
            [routerLink]="['/clinician-manager', 'morisky', '']">morisky
    </button>
    |
    <button class="btn btn-default {{cardToShow==='diseases'   ? 'btn-outline-success' : ''}}" (click)="focusLastYear()"
            [routerLink]="['/clinician-manager', 'diseases', '']">diseases
    </button>
    |
    <button class="btn btn-default {{cardToShow==='clinicians'   ? 'btn-outline-success' : ''}}"
            (click)="focusLastYear()" [routerLink]="['/clinician-manager', 'clinicians', '']">clinicians
    </button>

  </div>

  <!--
    <div class="row">
      <h3 i18n="Patient Data Viewer"><i class="fa fa-calendar-check-o"></i> Patient data viewer</h3>
    </div>
  -->

  <div
    *ngIf="cardToShow==='treatments' || cardToShow === 'medications' || cardToShow === 'morisky' || cardToShow==='observations' || cardToShow === 'all'"
    class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card">
        <div class="card-header w3-blue w3-center">
          <span i18n="Patient Events"><i class="fa fa-calendar-times-o"></i></span>
          Date Picker (Treatments, Medication, Measurements and Recordings, Morisky Scale)


          <div class="card-actions">

          </div>

        </div>
        <div class="card-block">

          <div class="row">
            <div class="rowcontent">
              <my-date-range-picker [options]="myDateRangePickerOptions"
                                    (dateRangeChanged)="onDateRangeChanged($event)"
                                    [selDateRange]="model">
              </my-date-range-picker>
            </div>
          </div>

          <div class="row">
            <div class="rowcontent">
              <button type="button"
                      class="btn btn-default {{range==='lastweek'   ? 'btn-outline-success' : ''}}"
                      (click)="focusLastWeek()"
                      i18n="Last week">
                Last week
              </button>

              <button type="button"
                      class="btn btn-default {{range==='lastmonth'   ? 'btn-outline-success' : ''}}"
                      (click)="focusLastMonth()"
                      i18n="Last month">
                Last month
              </button>

              <button type="button"
                      class="btn btn-default {{range==='last2months'   ? 'btn-outline-success' : ''}}"
                      (click)="focusLast2Months()"
                      i18n="Last 2 months">
                Last 2 months
              </button>

              <button type="button"
                      class="btn btn-default {{range==='last6months'   ? 'btn-outline-success' : ''}}"
                      (click)="focusLast6Months()"
                      i18n="Last 6 months">
                Last 6 months
              </button>

              <button type="button"
                      class="btn btn-default {{range==='next6months'   ? 'btn-outline-success' : ''}}"
                      (click)="focusNext6Months()"
                      i18n="Next 6 months">
                Next 6 months
              </button>

              <button type="button"
                      class="btn btn-default {{range==='lastyear'   ? 'btn-outline-success' : ''}}"
                      (click)="focusLastYear()"
                      i18n="Last year">
                Last year
              </button>

              <button type="button"
                      class="btn btn-default {{range==='last2years'   ? 'btn-outline-success' : ''}}"
                      (click)="focusLast2Years()"
                      i18n="Last year">
                Last 2 years
              </button>

            </div>
          </div>


        </div>


      </div>
    </div>
  </div>


  <div *ngIf="cardToShow==='overview' || cardToShow === 'all'" class="row">
    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-overview>
      </patient-overview>
    </div>

  </div>

  <!--

  <div class="row">
    <div *ngIf="cardToShow===2 || cardToShow === 'all'" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <patient-notifications>
      </patient-notifications>
    </div>
  </div>
  -->


  <div *ngIf="cardToShow==='comments' || cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <patient-concluding-comments>
      </patient-concluding-comments>
    </div>
  </div>

  <div *ngIf="cardToShow==='followups' || cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <patient-follow-up-appointments>
      </patient-follow-up-appointments>
    </div>
  </div>


  <!--
      <div class="row">
         <div *ngIf="cardToShow===4 || cardToShow === 'all'" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <patient-imaging>
          </patient-imaging>
        </div>

  </div> -->


  <div *ngIf="cardToShow==='treatments' || cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-treatments>
      </patient-treatments>
    </div>
  </div>


  <div *ngIf="cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card">
        <div class="card-block">
          <div class="row">

            <div class="rowcontent">
              <button type="button"
                      class="btn btn-default {{range==='lastweek'   ? 'btn-outline-success' : ''}}"
                      (click)="focusLastWeek()"
                      i18n="Last week">
                Last week
              </button>

              <button type="button"
                      class="btn btn-default {{range==='lastmonth'   ? 'btn-outline-success' : ''}}"
                      (click)="focusLastMonth()"
                      i18n="Last month">
                Last month
              </button>

              <button type="button"
                      class="btn btn-default {{range==='last2months'   ? 'btn-outline-success' : ''}}"
                      (click)="focusLast2Months()"
                      i18n="Last 2 months">
                Last 2 months
              </button>

              <button type="button"
                      class="btn btn-default {{range==='last6months'   ? 'btn-outline-success' : ''}}"
                      (click)="focusLast6Months()"
                      i18n="Last 6 months">
                Last 6 months
              </button>

              <button type="button"
                      class="btn btn-default {{range==='next6months'   ? 'btn-outline-success' : ''}}"
                      (click)="focusNext6Months()"
                      i18n="Next 6 months">
                Next 6 months
              </button>

              <button type="button"
                      class="btn btn-default {{range==='lastyear'   ? 'btn-outline-success' : ''}}"
                      (click)="focusLastYear()"
                      i18n="Last year">
                Last year
              </button>

              <button type="button"
                      class="btn btn-default {{range==='last2years'   ? 'btn-outline-success' : ''}}"
                      (click)="focusLast2Years()"
                      i18n="Last year">
                Last 2 years
              </button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


  <div *ngIf="cardToShow==='medications' || cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <medication-history>
      </medication-history>
    </div>
  </div>

  <div *ngIf="cardToShow === 'all'"
       class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card">
        <div class="rowcontent">
        <div class="card-block">


          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class=" ">


                <button type="button"
                        class="btn btn-default {{range==='lastweek'   ? 'btn-outline-success' : ''}}"
                        (click)="focusLastWeek()"
                        i18n="Last week">
                  Last week
                </button>

                <button type="button"
                        class="btn btn-default {{range==='lastmonth'   ? 'btn-outline-success' : ''}}"
                        (click)="focusLastMonth()"
                        i18n="Last month">
                  Last month
                </button>

                <button type="button"
                        class="btn btn-default {{range==='last2months'   ? 'btn-outline-success' : ''}}"
                        (click)="focusLast2Months()"
                        i18n="Last 2 months">
                  Last 2 months
                </button>

                <button type="button"
                        class="btn btn-default {{range==='last6months'   ? 'btn-outline-success' : ''}}"
                        (click)="focusLast6Months()"
                        i18n="Last 6 months">
                  Last 6 months
                </button>

                <button type="button"
                        class="btn btn-default {{range==='next6months'   ? 'btn-outline-success' : ''}}"
                        (click)="focusNext6Months()"
                        i18n="Next 6 months">
                  Next 6 months
                </button>

                <button type="button"
                        class="btn btn-default {{range==='lastyear'   ? 'btn-outline-success' : ''}}"
                        (click)="focusLastYear()"
                        i18n="Last year">
                  Last year
                </button>

                <button type="button"
                        class="btn btn-default {{range==='last2years'   ? 'btn-outline-success' : ''}}"
                        (click)="focusLast2Years()"
                        i18n="Last year">
                  Last 2 years
                </button>

              </div>
            </div>
            </div>
          </div>


        </div>
      </div>


    </div>
  </div>


  <div *ngIf="cardToShow==='observations' || cardToShow === 'all'" class=" w3-center">

    <button class="btn btn-default {{!showSeparate ? 'btn-outline-success' : ''}}"
            (click)="showSeparate=false;focusLastYear()">Combined Graph
    </button>

    <button class="btn btn-default {{showSeparate  ? 'btn-outline-success' : ''}}"
            (click)="showSeparate=true;focusLastYear()">Separate Graphs
    </button>

  </div>


  <div *ngIf="!showSeparate && (cardToShow==='observations' || cardToShow === 'all')" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-daily-average-observations [forMeasurements]='allMeasurements'>
      </patient-daily-average-observations>
    </div>
  </div>


  <div *ngIf="showSeparate && (cardToShow==='observations' || cardToShow === 'all')" class="row">


    <patient-daily-average-observations [forMeasurements]="'heartrate'">
    </patient-daily-average-observations>

    <patient-daily-average-observations [forMeasurements]="'sys'">
    </patient-daily-average-observations>

    <patient-daily-average-observations [forMeasurements]='"dia"'>
    </patient-daily-average-observations>

    <patient-daily-average-observations [forMeasurements]='"weight"'>
    </patient-daily-average-observations>

    <patient-daily-average-observations [forMeasurements]='"steps"'>
    </patient-daily-average-observations>

    <patient-daily-average-observations [forMeasurements]='"distance"'>
    </patient-daily-average-observations>

    <patient-daily-average-observations [forMeasurements]='"sleep"'>
    </patient-daily-average-observations>

    <patient-daily-average-observations [forMeasurements]='"pain"'>
    </patient-daily-average-observations>

    <patient-daily-average-observations [forMeasurements]='"wellbeing"'>
    </patient-daily-average-observations>

    <patient-daily-average-observations [forMeasurements]='"radai"'>
    </patient-daily-average-observations>

    <patient-daily-average-observations [forMeasurements]='"ffbh"'>
    </patient-daily-average-observations>

    <patient-daily-average-observations [forMeasurements]='"haq"'>
    </patient-daily-average-observations>

    <patient-daily-average-observations [forMeasurements]='"eq5d"'>
    </patient-daily-average-observations>

  </div>

  <div *ngIf="cardToShow === 'all'"
       class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card">

        <div class="card-block">


          <div class="row">
            <div class="rowcontent">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">


                <button type="button"
                        class="btn btn-default {{range==='lastweek'   ? 'btn-outline-success' : ''}}"
                        (click)="focusLastWeek()"
                        i18n="Last week">
                  Last week
                </button>

                <button type="button"
                        class="btn btn-default {{range==='lastmonth'   ? 'btn-outline-success' : ''}}"
                        (click)="focusLastMonth()"
                        i18n="Last month">
                  Last month
                </button>

                <button type="button"
                        class="btn btn-default {{range==='last2months'   ? 'btn-outline-success' : ''}}"
                        (click)="focusLast2Months()"
                        i18n="Last 2 months">
                  Last 2 months
                </button>

                <button type="button"
                        class="btn btn-default {{range==='last6months'   ? 'btn-outline-success' : ''}}"
                        (click)="focusLast6Months()"
                        i18n="Last 6 months">
                  Last 6 months
                </button>

                <button type="button"
                        class="btn btn-default {{range==='next6months'   ? 'btn-outline-success' : ''}}"
                        (click)="focusNext6Months()"
                        i18n="Next 6 months">
                  Next 6 months
                </button>

                <button type="button"
                        class="btn btn-default {{range==='lastyear'   ? 'btn-outline-success' : ''}}"
                        (click)="focusLastYear()"
                        i18n="Last year">
                  Last year
                </button>

                <button type="button"
                        class="btn btn-default {{range==='last2years'   ? 'btn-outline-success' : ''}}"
                        (click)="focusLast2Years()"
                        i18n="Last year">
                  Last 2 years
                </button>
              </div>

            </div>
          </div>


        </div>
      </div>


    </div>
  </div>

  <div *ngIf="cardToShow==='morisky' || cardToShow === 'all'" class="row">

    <patient-daily-average-observations [forMeasurements]='moriskyObservations'>
    </patient-daily-average-observations>

  </div>

  <div *ngIf="cardToShow==='diseases' || cardToShow === 'all'" class="row">
    <div
      class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-diseases>
      </patient-diseases>
    </div>

  </div>


  <div *ngIf="cardToShow==='clinicians' || cardToShow === 'all'" class="row">
    <div
      class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-clinicians-history>
      </patient-clinicians-history>
    </div>
  </div>


</div>




