<div class="animated fadeIn">

  <div *ngIf="cardToShow==='overview' || cardToShow === 'all'" class="row">
    <!-- <div class="w3-right" style="margin-right: 1rem;">
       <a [routerLink]="['/clinician-manager', 'all', '']"><i
         class="fa {{cardToShow==='all'?'fa-window-maximize':'fa-window-restore'}}"></i> </a>
     </div>
     -->

    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-overview>
      </patient-overview>
    </div>
  </div>

  <div *ngIf="cardToShow==='comments' || cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-concluding-comments>
      </patient-concluding-comments>
    </div>
  </div>

  <div *ngIf="cardToShow==='followups' || cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <patient-follow-up-appointments>
      </patient-follow-up-appointments>
    </div>
  </div>

  <div
    *ngIf="cardToShow==='treatments' || cardToShow === 'medications' ||
    cardToShow === 'morisky' || cardToShow==='observations' ||
    cardToShow === 'observations-single' || cardToShow === 'all'"
    class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-range-picker (dateRangeChanged)="rangeChanged($event)" [range]="range">

      </patient-range-picker>
    </div>
  </div>

  <div *ngIf="cardToShow==='treatments' || cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-treatments [dateRange]="range">
      </patient-treatments>
    </div>
  </div>

  <div *ngIf="cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-range-picker (dateRangeChanged)="rangeChanged($event)" [range]="range">
      </patient-range-picker>
    </div>
  </div>

  <div *ngIf="cardToShow==='medications' || cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <medication-history [dateRange]="range">
      </medication-history>
    </div>
  </div>

  <div *ngIf="cardToShow === 'all'"
       class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-range-picker (dateRangeChanged)="rangeChanged($event)" [range]="range">
      </patient-range-picker>
    </div>
  </div>


  <div *ngIf="cardToShow==='observations' || cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-daily-average-observations [observationId]="measurementToShow"
                                          [dateRange]="range">
      </patient-daily-average-observations>
    </div>
  </div>


  <div *ngIf="cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-range-picker (dateRangeChanged)="rangeChanged($event)" [range]="range">
      </patient-range-picker>
    </div>
  </div>

  <div *ngIf="cardToShow==='observations-single' || cardToShow === 'all' " class="row">

    <div
      class="col-xs-12 col-sm-12 col-md-12
      col-lg-12 col-xl-12">
      <div class="card">
        <div class="card-header measurement-header  ">
          <div><i class="fa fa-heartbeat"></i>
            Patient Measurements and Recordings - Separate Charts
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <patient-daily-average-observations [observationId]="'systolic'" [dateRange]="range">
      </patient-daily-average-observations>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <patient-daily-average-observations [observationId]='"diastolic"' [dateRange]="range">
      </patient-daily-average-observations>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <patient-daily-average-observations [observationId]="'heartrate'" [dateRange]="range">
      </patient-daily-average-observations>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <patient-daily-average-observations [observationId]='"weight"' [dateRange]="range">
      </patient-daily-average-observations>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <patient-daily-average-observations [observationId]='"steps"' [dateRange]="range">
      </patient-daily-average-observations>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <patient-daily-average-observations [observationId]='"distance"' [dateRange]="range">
      </patient-daily-average-observations>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <patient-daily-average-observations [observationId]='"sleep_minutes"' [dateRange]="range">
      </patient-daily-average-observations>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <patient-daily-average-observations [observationId]='"pain"' [dateRange]="range">
      </patient-daily-average-observations>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <patient-daily-average-observations [observationId]='"wellbeing"' [dateRange]="range">
      </patient-daily-average-observations>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <patient-daily-average-observations [observationId]='"radai"' [dateRange]="range">
      </patient-daily-average-observations>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <patient-daily-average-observations [observationId]='"ffbh"' [dateRange]="range">
      </patient-daily-average-observations>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <patient-daily-average-observations [observationId]='"haq"' [dateRange]="range">
      </patient-daily-average-observations>
    </div>
  </div>

  <div *ngIf="cardToShow === 'all'"
       class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-range-picker (dateRangeChanged)="rangeChanged($event)" [range]="range">
      </patient-range-picker>
    </div>
  </div>

  <div *ngIf="cardToShow==='morisky' || cardToShow === 'all'" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-daily-average-observations [observationId]='"morisky"' [dateRange]="range">
      </patient-daily-average-observations>
    </div>
  </div>

  <div *ngIf="cardToShow==='diseases' || cardToShow === 'all'" class="row">
    <div
      class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-diseases>
      </patient-diseases>
    </div>
  </div>

  <div *ngIf="cardToShow==='clinicians' || cardToShow === 'all'" class="row">
    <div
      class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <patient-clinicians-history>
      </patient-clinicians-history>
    </div>
  </div>


</div>




