button {
    background-color: #eee;
    padding: 10px 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

.card {
    border-radius: 10px;
}

.card-footer {
    border-radius: 10px;
}

.card-header {
    border-radius: 10px;
}