<div class="card">
    <div class="card-header">
        Data Resource Browser
        <div class="card-actions">
            <div *ngIf="progress.percentage<100">Loading: {{progress.percentage}}
            </div>
            Loaded: {{progress.total}} bytes

        </div>
    </div>
    <div class="card-block">
        <div>



            <div class="network-canvas"
                 [visNetwork]="visNetwork"
                 [visNetworkData]="visNetworkData"
                 [visNetworkOptions]="visNetworkOptions"
                 (initialized)="networkInitialized()">

            </div>
            <button type="button"
                    class="btn btn-default"
                    (click)="displayAll()">Display all sub-categories</button>
            <button type="button"
                    class="btn btn-default"
                    (click)="collapseAll()">Reset to default</button>
            <button type="button"
                    class="btn btn-default"
                    (click)="reflectUNDO()">Undo last action</button>
            <p>



        </div>
    </div>
</div>
