<div class="card">
    <div class="card-header">
        Data Resource Browser
        <div class="card-actions">

        </div>
    </div>
    <div class="card-block">
        <div>



            <div class="network-canvas"
                 [visNetwork]="visNetwork"
                 [visNetworkData]="visNetworkData"
                 [visNetworkOptions]="visNetworkOptions"
                 (initialized)="networkInitialized()">

            </div>
            <button type="button"
                    class="btn btn-default"
                    (click)="addNode()">Display all categories</button>
            <p>



        </div>
    </div>
</div>